html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #fff1e0;
}

webview.buffering {
	transform: translateX(100%);
}
webview.active {
	transition: transform 0.5s ease;
	transform: translateX(0);
}
webview.done {
	transition: transform 0.5s ease;
	transform: translateX(-100%);
}
webview {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

button {
	left: auto;
	position: absolute;
	right: 6px;
}

.network-issue #disconnected{
	display: block;
}

#disconnected {
	background-color: #fff1e0;
	max-width: 300px;
	bottom: 20px;
	right: 20px;
	width: 30%;
	padding: 20px;
	font-size: 80%;
	box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
	position: fixed;
	display: none;
}

#panel-disconnected p {
	margin: 0.8em 0;
}

#carousel-countdown {
	position: fixed;
	bottom: 0;
	height: 0.5em;
	background: #9e2f50;
	width: 100vw;
	transform-origin: 0 0;
	transform: scaleX(0);
}